$devMode: false;
$breakpoints: (
  s: 480px,
  m: 768px,
  sm: 800px,
  l: 1024px,
  x: 1200px,
  xl: 1400px,
  xx: 1900px,
);

@mixin from($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin devMode($color) {
  border: 1px solid $color;
}

* {
  @if ($devMode) {
    border: 1px solid red;
  }
}

:root {
  --just-white: #fff;
  --soft-white: #eff0f3;
  --pink: #d9376e;
  --orange: #ff8e3c;
  --dark: #0d0d0d;
  --soft-blue: #5928e5;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Cormorant', serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-inline-size: 100%;
}

.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

/* Header */
.header {
  padding-block-start: 120px;
  background-color: var(--dark);
  color: var(--soft-white);
  p {
    margin: 0;
  }
  a {
    color: inherit;
  }
}
.header-content {
  position: relative;
  padding-inline: 16px;
  h1 {
    margin: 0;
    padding-block-end: 40px;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
  }
}
/* Header End*/

/* NAV  */
.navigation {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px;
  padding-inline: 16px;
  background-color: var(--dark);
  span {
    font-size: 20px;
  }
  .list {
    position: fixed;
    inline-size: 100vw;
    block-size: 100vh;
    background-color: var(--dark);
    inset-inline-end: 0;
    inset-inline-start: 0;
    inset-block-start: 100px;
    inset-block-end: 0;
    padding-block-start: 40px;
    padding-inline: 16px;
    z-index: 1000;
    visibility: hidden;
    clip-path: circle(10% at 87% 10%);
    transition: all 0.5s ease-in-out;
  }
  ul li {
    // display: inline-block;
    margin-block-end: 24px;
  }
  ul li:last-child {
    margin-block-start: 80px;
    color: var(--pink);
    a {
      font-size: 28px;
    }
  }
  ul li a {
    font-size: 35px;
    font-weight: 600;
  }

  // @include from(sm) {
  //   padding-inline: 16;
  // }
  @include from(xx) {
    padding-inline: 470px;
  }
  @include from(sm) {
    padding-inline: 16px;
    #list-menu {
      inline-size: 500px;
    }
    .list {
      position: initial;
      block-size: 40px;
      padding: 0;
      inline-size: 300px;
      visibility: visible;
      clip-path: circle(100%);
    }
    .list li {
      display: inline-block;
      padding-inline: 40px;
      margin: 0;
    }
    .list li:last-child {
      margin: 0;
    }
    .list a {
      font-size: 20px;
    }
  }
  @include from(x) {
    padding-inline: 50px;
  }
  @include from(xl) {
    padding-inline: 210px;
  }
  @include from(xx) {
    padding-inline: 380px;
  }
}
/* NAV End */

/* Main */
.main-content {
  padding-inline: 16px;
  margin-block-start: 64px;

  @include from(m) {
    padding-inline: 100px;
  }
  @include from(l) {
    padding-inline: 150px;
  }
  @include from(xl) {
    padding-inline-start: 16px;
    padding-inline-end: 500px;
  }
}
.section-content h3 {
  counter-increment: titleNumber;
}
.section-content h3::before {
  content: counter(titleNumber) '. ';
}
.setup-content {
  h2 {
    margin-block-start: 24px;
    margin-block-end: 0;
    font-size: 28px;
  }
  img {
    margin-block-start: 40px;
    margin-block-end: 16px;
  }
  // font-size: 20px;

  h3 {
    margin-block: 16px;
    font-size: 20px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }
  blockquote {
    position: relative;
    margin-inline: 0;
    margin-block: 32px;
  }
  blockquote::before {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    content: '';
    display: block;
    inline-size: 5px;
    background-color: var(--dark);
  }
  blockquote p {
    padding-inline-start: 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
}

.concepts-content {
  h2,
  .box-model-content h2 {
    margin-block: 40px;
    font-size: 32px;
    line-height: 38px;
  }
  p {
    font-size: 20px;
    margin-block-end: 16px;
    line-height: 27px;
  }
  pre {
    padding-block: 40px;
    padding-inline: 40px;
    background-color: #e5e5e5;
    overflow: auto;
    border-radius: 8px;
    line-height: 24px;
  }

  h3 {
    margin-block: 16px;
    font-size: 20px;
    font-weight: 700;
  }
}
.box-model-content {
  h3 {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  p {
    font-size: 20px;
    margin-block-end: 16px;
    line-height: 27px;
  }
  ul li,
  ol li {
    font-size: 20px;
    line-height: 27px;
  }
  ul li,
  ol li {
    margin-block-end: 16px;
  }
  ul {
    list-style: inside;
  }

  ol {
    padding-inline: 16px;
  }
}

/* Main End*/

/* Footer */
footer {
  background-color: var(--dark);
  color: var(--just-white);
  p {
    margin-block-end: 46px;
    margin-block-start: 56px;
    color: var(--pink);
    font-size: 20px;
  }
  .footer-content {
    margin-inline: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .feed-social ul li,
  .links ul li {
    font-size: 20px;
    margin-block-end: 16px;
  }
  .feed-social,
  .links {
    padding-block-start: 48px;
  }
  @include from(m) {
    .footer-content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @include from(x) {
    .footer-content {
      grid-template-columns: repeat(3, 200px);
    }
  }
}
/* Footer End */

/* Helpers End */
.menu {
  inline-size: 44px;
  block-size: 44px;
  position: relative;
  transition: all 0.5 ease-in-out;
  //   background-color: #5928e5;
  @include from(sm) {
    display: none;
  }
}
.menu .line {
  position: absolute;
  inset-block-end: 5px;
  inline-size: 100%;
  block-size: 2px;
  margin-block-end: 5px;
  background-color: var(--just-white);
  &:nth-child(1) {
    inset-block-start: 10px;
  }
  &:nth-child(2) {
    inset-block-start: 20px;
  }
}
.active-menu {
  .line:last-child {
    inset-block-start: 20px;
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  .line:nth-child(2) {
    background-color: transparent;
  }
  .line:nth-child(1) {
    inset-block-start: 20px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
  }
  transition: all 0.5s ease-in-out;
}
.list.active {
  clip-path: circle(75%);
  visibility: visible;
  transition: all 0.5s ease-in-out;
  //   transition: clip-path 0.3s ease-in-out;
}
/* Helpers End */
