$devMode: false;
$breakpoints: (
  s: 480px,
  m: 768px,
  sm: 800px,
  l: 1024px,
  x: 1200px,
  xl: 1400px,
);

@mixin form($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin devMode($color) {
  border: 1px solid $color;
}

* {
  @if ($devMode) {
    border: 1px solid red;
  }
}

:root {
  --just-white: #fff;
  --soft-white: #eff0f3;
  --pink: #d9376e;
  --orange: #ff8e3c;
  --dark: #0d0d0d;
  --soft-blue: #5928e5;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Cormorant', serif;
}
ul {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  list-style: none;
}
a {
  color: var(--dark);
  text-decoration: none;
}
.wrapper {
  max-inline-size: 1300px;
  margin: auto;
}
/* Header */
.header-content {
  padding-block: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  @include form(sm) {
    justify-content: flex-end;
  }
}
nav ul li a {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Cormorant', serif;
  padding-inline: 20px;
  @include form(sm) {
    margin-inline-end: 40px;
  }
}
/* Header End */

/* Hero */
.main {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.hero {
  inline-size: 90vw;
  padding-block-start: 40px;
  background-color: var(--dark);
  color: var(--just-white);
}
.header-content {
  position: relative;
}
.hero h1 {
  margin: 0;
  font-size: 30px;
  span {
    color: var(--dark);
  }
}
.hero h2 {
  font-size: 28px;
  line-height: 39px;
  @include form(s) {
    align-self: flex-end;
    margin-block-end: 60px;
  }
  @include form(l) {
    inline-size: 40%;
  }
}
.about {
  position: relative;
  img {
    margin-block: 24px;
    // padding-block-start: 24px;
  }
  .profession {
    display: inline-block;
    font-size: 20px;
    color: var(--pink);
    text-transform: capitalize;
  }
  @include form(s) {
    .profession {
      position: absolute;
      transform: rotate(90deg);
      inset-block-start: 140px;
      inset-inline-start: 200px;
    }
  }
  @include form(x) {
    img {
      inline-size: 25%;
    }
    .profession {
      inset-inline-start: 260px;
    }
  }
}
.description {
  @include form(sm) {
    display: flex;
    gap: 30px;
  }
}
.blog-posts {
  margin-block-end: 40px;
  h3 {
    font-size: 28px;
    margin: 0;
    margin-block-end: 16px;
  }
  ul li a {
    color: var(--just-white);
    font-size: 14px;
  }
  ul li a::before {
    content: '-';
  }
  ul li {
    margin-block-end: 16px;
  }
  ul li span {
    display: none;
  }
  @include form(l) {
    ul li span {
      display: inline-block;
      color: var(--pink);
      inline-size: 104px;
      padding-inline: 10px;
      font-family: 'Cormorant', serif;
      font-size: 20px;
    }
    ul li a::before {
      content: '';
    }
  }
}
.about,
.blog-posts {
  margin-inline-start: 16px;
  margin-inline-end: 32px;
}
/* Hero End */

/* Footer */
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline-start: 76px;
  margin-block: 24px;
  @include form(xl) {
    margin-inline: 0;
    grid-template-columns: 100px 150px 150px;
  }
}
.page-links ul li,
.feed-social ul li {
  margin-block-end: 16px;
}
.me {
  color: var(--pink);
  font-size: 27px;
  font-weight: 700;
}

/* Footer End */
